body {
	background-image: url("../images/861434-top-anime-background-1920x1080-xiaomi.jpg");
	margin: 0px;
	padding: 0px;
}

.buttons-view {
	margin: 20px 0px 20px 0px;
}

.gifDiv {
	margin-right: 10px;
	float: left;
	margin-bottom: 20px;
}

.topic {
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: #4aaaa5;
	color: white;
}

#add-topic {
	background-color: #4aaaa5;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

#topic-input {
	width: 100%;
	margin-top: 2px;
}
#white{
	color: white;
}